<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <title>Shalles Demo</title>
        <link rel="stylesheet" href="../css/app@VERSION.css"> 
        <script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=biMjlfhP1EUDeuon3L2XR9qG&v=1.0"></script>
    </head>

    <body>
        
        <div id="baidu-map" style="width:100%; height:100%;"></div>

        <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=YOUR_KEY&libraries=drawing,geometry,autocomplete,convertor"></script>
        <script src="../js/app@VERSION.js"></script>d
    </body>
</html>